# Ignore everything
**

# Allow files and directories
!lib/
!docker-utils/
!composer*
!config*
!index.php

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
docker-utils/test_mail.php
